<a data-sc-id="IconHyperlinkButton1" href="http://google.dk" class="sc-iconhyperlinkbutton icon sc_IconHyperlinkButton_14"
   data-bind="visible: isVisible, enable: isEnabled, css: { disabled: !isEnabled() }"
  data-sc-click="javascript:alert(123);" 
  data-sc-require="/-/speak/v1/business/iconhyperlinkbutton.js" data-sc-href="http://google.dk">
  <div data-sc-imageurl="/sitecore/shell/client/Speak/Assets/img/sc-speak-logo.gif" data-sc-backgroundposition="center"
       data-bind="style: {'backgroundImage': 'url(' + imageUrl() + ')', 'backgroundPosition': backgroundPosition()}"
       class="sc-icon" style="background-image: url(/sitecore/shell/client/Speak/Assets/img/sc-speak-logo.gif); background-position: 50% 50%;">

  </div>
  <span class="sc-hyperlink-text icon" data-bind="text: text">Hello world</span>
</a>